.photo-container {
    display: grid;
    place-content: center;
  }
  .photo-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* gap: 10px; */
    grid-row-gap: 5px;
    justify-items: center;
    margin-top: 5px;
}
